.loginBox {
	height: calc(100vh - 48px);
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.box {
	padding: 15px;
	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	
	background-color: #eaeaea;
	border-radius: 5px;
	box-shadow: #0005 4px 4px 10px;

	.field {
		margin: 10px;
		padding: 0 25px;
		height: 50px;
		width: 250px;
		
		border: 2px solid #3a8e0b;
		border-radius: 5px;
		font-weight: 700;
		transition: box-shadow .2s ease-out;
		
		&:hover {
			box-shadow: 0 0 0 3px #71b34c;
		}
	}

	.submit {
		margin-top: 15px;
		height: 30px;
		width: 30px;
		
		display: inline-block;
		border-radius: 100%;
		background-color: #3a8e0b;
		color: #eaeaea;
		border: none;
	}
}