.navbar {
    height: 80px;
    width: 100%;
    padding: 5px 15px;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-size: cover;

    border-radius: 0 0 5px 5px;

    a {
        background: none;
    }

    .brand {
        .logo {
            height: 45px;
            width: 45px;

            display: inline;
            vertical-align: middle;

            border-radius: 100%;
        }

        .name {
            margin: 0;
            margin-left: 15px;

            display: inline;

            font-family: "Nunito", sans-serif;
            font-size: 24px;
            color: var(--text-color);
        }
    }

    .menu {
        min-width: 20%;

        margin: 0;

        display: flex;
        justify-content: space-evenly;
        flex-direction: row;

        .menu-item {
            list-style-type: none;

            margin-right: 10px;

            font-weight: lighter;
            font-size: 16px;

            * {
                text-decoration: none;
                color: var(--text-color);

                transition: color 0.5s;
            }

            &:hover {
                color: var(--accent-text-color-hover);
            }

            &.active {
                background: linear-gradient(to bottom, transparent 70%, var(--accent-background-color) 0%);
                background-size: 100% 40%;
                background-repeat: no-repeat;
            }
        }
    }

    &.fixed {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;

        background-color: var(--background-color);
        box-shadow: 0 0 5px #0003;

        * {
            color: var(--text-color) !important;
        }

        .brand .name {
            font-size: 25px;
        }
    }
}

@media screen and (max-width: 930px) {
    .mainNav .navItem .menu {
        display: none;
    }
}
