/* ======================== */
/*       Generic Panel      */
/* ======================== */
.panel {
  width: 100%;
  background-color: var(--background-color);
}

.panel .box {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.panel .title {
  font-family: 'Nunito', sans-serif;
}

/* ======================== */
/*          Welcome         */
/* ======================== */
.panel.welcomePanel {
  position: fixed;
  top: 25%;
  left: 10%;
  width: 80%;
  background: none;
  color: var(--background-color-hover);
}

.panel.welcomePanel > * {
  margin: 0;
  padding: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.panel.welcomePanel > h1 {
  font-size: 64px;
}

.panel.welcomePanel > h2 {
  font-size: 46px;
  font-weight: lighter;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0%, var(--accent-background-color)));
  background: linear-gradient(to bottom, transparent 0%, var(--accent-background-color) 0%);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  -webkit-transition: background-size .5s;
  transition: background-size .5s;
}

.panel.welcomePanel > h2.underlined {
  background-size: 100% 100%;
}

.welcomeCover {
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
}

.welcomePanel + * {
  margin-top: 35%;
}

/* ======================== */
/*           Grass          */
/* ======================== */
.grass {
  width: 100%;
  height: 120px;
  margin-bottom: -6px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
  background-color: var(--background-color);
  -webkit-mask-image: url("resources/grass.svg");
          mask-image: url("resources/grass.svg");
}

/* ======================== */
/*       Common Panel       */
/* ======================== */
.panel.commonPanel {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.panel.commonPanel > .box {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.panel.commonPanel > .box .title {
  margin: 0;
  font-size: 46px;
}

.panel.commonPanel > .box .description {
  margin: 0;
  margin-top: 15px;
  width: 350px;
  font-size: 25px;
  font-weight: lighter;
}

.panel.commonPanel.reverse > .box {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.panel.commonPanel .model {
  height: 400px;
  width: 400px;
  background: var(--background-color);
}

.panel.commonPanel .model.rounded {
  border-radius: 100%;
}

/* ======================== */
/*       Special Panel      */
/* ======================== */
.panel.textMediaPanel {
  height: 850px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.panel.textMediaPanel > .box {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.panel.textMediaPanel > .box .text {
  text-align: center;
}

.panel.textMediaPanel > .box .text .title {
  margin: 0;
  font-size: 46px;
}

.panel.textMediaPanel > .box .text .description {
  margin: 0;
  margin-top: 15px;
  font-size: 25px;
  font-weight: lighter;
}

.panel.textMediaPanel .media {
  height: 450px;
  margin-top: 50px;
  background: var(--background-color);
  -webkit-box-shadow: 0 0 5px #0003;
          box-shadow: 0 0 5px #0003;
}

.panel.textMediaPanel .discordJoinButton {
  padding: 20px 15px;
  width: 180px;
  margin-top: 25px;
  display: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 5px;
  background-color: var(--accent-background-color);
  color: var(--accent-text-color);
  font-size: 24px;
  text-align: center;
  text-decoration: none;
}

/* ======================== */
/*       Gallery Panel      */
/* ======================== */
.panel.galleryPanel {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.panel.galleryPanel > .box {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.panel.galleryPanel > .box .text {
  text-align: center;
}

.panel.galleryPanel > .box .text .title {
  margin: 0;
  font-size: 46px;
}

.panel.galleryPanel > .box .gallery {
  max-width: 100%;
  margin-top: 25px;
  -webkit-transform: rotate(-2deg) scale(1.02);
          transform: rotate(-2deg) scale(1.02);
}

.panel.galleryPanel > .box .gallery .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transition: -webkit-transform .1s ease;
  transition: -webkit-transform .1s ease;
  transition: transform .1s ease;
  transition: transform .1s ease, -webkit-transform .1s ease;
}

.panel.galleryPanel > .box .gallery .slider.animateMargin {
  -webkit-transition: margin-left .01s ease-out, -webkit-transform .1s ease;
  transition: margin-left .01s ease-out, -webkit-transform .1s ease;
  transition: transform .1s ease, margin-left .01s ease-out;
  transition: transform .1s ease, margin-left .01s ease-out, -webkit-transform .1s ease;
}

.panel.galleryPanel > .box .gallery .slider .media {
  max-width: 450px;
  height: 240px;
  margin-left: 35px;
  -webkit-transition: -webkit-transform .2s ease-out;
  transition: -webkit-transform .2s ease-out;
  transition: transform .2s ease-out;
  transition: transform .2s ease-out, -webkit-transform .2s ease-out;
}

.panel.galleryPanel > .box .gallery .slider .media:first-of-type {
  margin-left: auto;
}

.panel.galleryPanel > .box .gallery .slider .media:last-of-type {
  margin-right: auto;
}

.panel.galleryPanel > .box .gallery .slider .media .image {
  height: 100%;
  border-radius: 5px;
  background: var(--white-gray);
  -webkit-box-shadow: 0 0 5px #0003;
          box-shadow: 0 0 5px #0003;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.panel.galleryPanel > .box .gallery .slider .media.expanded {
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
}

.panel.galleryPanel > .box .gallery .slider .media.expanded .description {
  display: block;
  opacity: 1;
}

.panel.galleryPanel > .box .gallery .slider .media .description {
  position: relative;
  top: -101%;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
  border-radius: 5px;
  background: var(--black-gray-semitransparent);
  opacity: 0;
  display: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: opacity .2s ease-out;
  transition: opacity .2s ease-out;
}

.panel.galleryPanel > .box .gallery .slider .media .description .location {
  width: 100%;
  margin: 0;
  text-align: center;
  color: var(--white-gray);
  font-family: 'Nunito', sans-serif;
}

.panel.galleryPanel > .box .gallery .slider .media .description .author {
  list-style: none;
}

.panel.galleryPanel > .box .gallery .slider .media .description .author .name {
  color: var(--white-gray);
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(0%, var(--accent)));
  background: linear-gradient(to bottom, transparent 70%, var(--accent) 0%);
}
/*# sourceMappingURL=panel.css.map */